---
name: Build VST

on:
  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  build-macos:
    runs-on: macos-latest
    # runs-on: macos-latest-large
    env:
      RELEASE_MODE: "CI"
    steps:
      - name: Checkout HISE repository
        uses: actions/checkout@v6
        with:
          repository: eschirle/HISE
          ref: 'develop'
          clean: true
          submodules: false
          path: HISE

      - name: Checkout JUCE submodules
        run: |
          cd HISE
          git submodule update --init --recursive
          cd JUCE
          git checkout juce6

      # TODO: Investigate caching so we don't have to build HISE binary every time
      - name: Build HISE
        working-directory: ${{ github.workspace }}/HISE/tools/auto_build/
        run: |
          # Unzip SDK
          unzip -o ${{ github.workspace }}/HISE/tools/SDK/sdk.zip -d ${{ github.workspace }}/HISE/tools/SDK/
          
          sh ./build_ci.sh "${{ env.RELEASE_MODE }}" --skip-tests-and-export
          
          # cd ${{ github.workspace }}/HISE/projects/standalone/Builds/MacOSX
          # xcodebuild -project "HISE Standalone.xcodeproj" -configuration Release -jobs 4 | xcpretty
          # set -o pipefail && xcodebuild -project "HISE Standalone.xcodeproj" -configuration "${{ env.RELEASE_MODE }}" | ./tools/Projucer/xcbeautify --renderer github-actions

      - name: Checkout Current Repository
        uses: actions/checkout@v6
        with:
          path: app
      
      # Copy everything from app folder to root
      - name: Copy app folder to root
        run: |
          cp -R ${{ github.workspace }}/app/* ${{ github.workspace }}/

      - name: Build Plugin
        run: |
          sh ./build.sh

      # TODO: Create a release on the repo and upload files there
      - name: Copy VST3 to root
        run: |
          cp Binaries/Builds/MacOSX/build/Release/*.vst3 ${{ github.workspace }}/

      - name: Upload Dyes Tonguewuhh
        uses: actions/upload-artifact@v6
        with:
          name: dyes-tonguewuhh-macos
          path: |
            *.hr1
            *.vst3