---
name: Build VST

on:
  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout HISE repository
        uses: actions/checkout@v6
        with:
          repository: christophhart/HISE
          ref: 'develop'
          clean: true
          submodules: false
          path: HISE
      - name: Checkout JUCE submodules
        run: |
          cd HISE
          git submodule update --init --recursive
          cd JUCE
          git checkout juce6
      # HISE needs to be added to path for unit tests
      - name: Build & Run CI script
        working-directory: ${{ github.workspace }}/HISE/tools/auto_build/
        run: sh ./build_ci.sh
      - name: Build Dyes Tonguewuhh
        run: sh ./build.sh
      - name: Upload Dyes Tonguewuhh
        uses: actions/upload-artifact@v6
        with:
          name: dyes-tonguewuhh-macos
          path: |
            *.hr1
            Binaries/Builds/MacOSX/build/Release/*.vst
            Binaries/Builds/MacOSX/build/Release/*.vst3