---
name: Build VST

on:
  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  build-macos:
    runs-on: macos-latest
    # runs-on: macos-latest-large
    steps:
      - name: Checkout HISE repository
        uses: actions/checkout@v6
        with:
          repository: eschirle/HISE
          ref: 'develop'
          clean: true
          submodules: false
          path: HISE

      - name: Checkout JUCE submodules
        run: |
          cd HISE
          git submodule update --init --recursive
          cd JUCE
          git checkout juce6

      - name: Build HISE
        working-directory: ${{ github.workspace }}/HISE/tools/auto_build/
        run: |
          sh ./build_ci.sh --skip-tests-and-export
          
          # Unzip SDK
          unzip -o ${{ github.workspace }}/HISE/tools/SDK/sdk.zip -d ${{ github.workspace }}/HISE/tools/SDK/
          cd ${{ github.workspace }}/HISE/projects/standalone/Builds/MacOSX
          xcodebuild -project "HISE Standalone.xcodeproj" -configuration Release -jobs 4 | xcpretty

      - name: Checkout Current Repository
        uses: actions/checkout@v6
        with:
          path: app
      
      # Copy everything from app folder to root
      - name: Copy app folder to root
        run: |
          cp -R ${{ github.workspace }}/app/* ${{ github.workspace }}/

      - name: Ensure HISE VST SDK is available
        run: |
          if [ ! -d "HISE/tools/SDK/VST3 SDK" ]; then
            echo "Error: HISE/tools/SDK/VST3 SDK folder not found"
            exit 1
          fi
          if [ ! -d "HISE/JUCE/projucer" ]; then
            echo "Error: HISE/JUCE/projucer folder not found"
            # exit 1
          fi
          if [ ! -d "HISE/tools/Projucer/Projucer.app/Contents/MacOS" ]; then
            echo "Error: Projucer.app folder not found"
            # exit 1
          fi
          if [ ! -d "HISE/projects/standalone/Builds/MacOSX/build/Release/Hise.app" ]; then
            echo "Error: HISE standalone project not found"
            # exit 1
          fi
          # If Binaries/ folder exists, cd into it
          if [ -d "Binaries" ]; then
            cd Binaries
            ls -la
            cd ..
          fi

      - name: Build Plugin
        run: |
          pwd
          ls -la
          echo "Building Current Project"
          sh ./build.sh

      - name: Upload Dyes Tonguewuhh
        uses: actions/upload-artifact@v6
        with:
          name: dyes-tonguewuhh-macos
          path: |
            *.hr1
            Binaries/Builds/MacOSX/build/Release/*.vst
            Binaries/Builds/MacOSX/build/Release/*.vst3